/***--- Basic output---***/

.clear{
  clear: both;
}


/***---Admin output---***/


.sortable{
  cursor: move;
}
.customers-item.ui-sortable-helper{
  border-color: #FF8A00;
}
.customer-to-page-container{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  cursor: pointer;
  background:#64b8df;
  width: 100%;
  z-index: 20;
}
.customer-edit{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 100px;
  text-align: center;
  color: #fff;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 30px;
  background: #8ecc61;
  cursor: pointer;
  z-index: 30;
}
.customer-edit:hover{
  color: #fff;
  text-decoration: none;
  background: #FF8A00;
}
.customer-to-page-toggler{
  z-index: 30;
  position: absolute;
  width: 40px;
  height: 100%;
  top:0;
  right: 0;
  background: url('../img/close-arrow.png') no-repeat center center transparent;
}
.customer-to-page-container.closed .customer-to-page-toggler{
  background: url('../img/open-arrow.png') no-repeat center center transparent;
}
.customer-to-page-container input,.customer-to-page-container button{
  position: absolute;
  left: 50%;
  margin-left: 0px;
  top: 50%;
  margin-top: -15px;
  z-index: 40;
}
.customer-to-page-container input{
  border: none;
  width: 100px;
  padding: 0 15px;
  box-shadow: none;
  height: 30px;
  display: inline-block;
  outline: none;
  margin-left: -100px;
}
.customer-to-page-container button{
  width: 100px;
  background: #8ecc61;
  border:none;
  box-shadow: none;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: Helvetica;
  padding: 0 10px;
  font-size: 12px;
  height: 30px;
  line-height: 32px;
}
.customer-to-page-container button:hover{
  background: #FF8A00;
}
.customer-to-page-container.closed{
  width: 40px;
}
.customer-to-page-container.closed input,.customer-to-page-container.closed button,.customer-to-page-container.closed .customer-edit{
  display: none;
}
#customers-grid.no-edit .customer-to-page-container{
  display: none;
}
#customers-control-panel{
  margin: 40px 0;
  text-align: center;
}
#customers-control-panel .cutomers_total{
  display: inline-block;
  margin-right: 20px;
  color: #4c5770;
  font-size: 14px;
  line-height: 32px;
}
#customers-control-panel .show-admin-buttons{
  display: inline-block;
  background: #8ecc61;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  padding: 0 15px;
}
#customers-control-panel .show-admin-buttons:hover{
  text-decoration: none;
  color: #fff;
  background: #FF8A00;
}
#ts-customers-priority-form .form-type-textfield{
  display: none;
}
#ts-customers-priority-form button{
  background: #FF8A00;
  padding: 0 15px;
  line-height: 32px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  text-shadow:none;
  margin-top: 20px;
  display: none;
}
#ts-customers-priority-form button:hover{
  background: #8ecc61;
}
#ts-customers-priority-form button.no-edit{
  display: block;
}
#customers-grid .customers_links.admin{
  position: absolute;
  top: 65%;
  text-align: left;
  width: 100%;
  padding: 0 30px;
}
#customers-grid .customers_links.admin div{
  background: none !important;
  padding-left: 0 !important;
}
#customers-grid .closed .customers_links.admin{
  display: none;
}

/***---Users output---***/

/* Header */
.customers_header h1 {
  margin: 20px 0 45px 0;
  display: inline-block;
  width: 100%;
  font: 38px/48px HelveticaNeueCyr Thin;
  color: #4c5770;
  text-align: center;
}
.customers-filter-container{
  text-align: center;
}
#customers-filter{
  float: none;
  display: inline-block;
  margin: 0 auto;
  min-height: 42px;
  text-align: left;
  font: 16px/42px HelveticaNeueCyr Light;
  color: #666;
  font-weight: 500;
  background: #fff;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  padding: 0;
}
#customers-filter.closed .industry-dropdown-list{
  display: none;
}
#customers-filter .industry-dropdown-active{
  padding-left: 35px;
  border: 1px solid #bdbdbd;
  background: #fff;
}
#customers-filter .industry-dropdown-list{
  width: 100%;
  position: absolute;
  left: 0;
  top: 32px;
  border: 1px solid #bdbdbd;
  border-top: none;
  background: #fff;
  display: block;
  list-style: none;
  z-index: 100;
  padding: 0px 35px 10px 35px;
  box-sizing: padding-box;
}
#customers-filter .industry-dropdown-list a{
  display: block;
  padding: 0;
  margin: 0;
  font: 16px/22px HelveticaNeueCyr Light;
  font-weight: 500;
}
#customers-filter .industry-dropdown-toggler{
  position: absolute;
  right: 10px;
  top: 16px;
  width: 12px;
  height: 12px;
  background: url("../img/customers_arrow_gray_open.png") no-repeat scroll 100% center transparent;
}
#customers-filter.closed .industry-dropdown-toggler{
  position: absolute;
  right: 10px;
  top: 16px;
  width: 12px;
  height: 12px;
  background: url("../img/customers_arrow_gray.png") no-repeat scroll 100% center transparent;
}

/* Content */

#customers-grid{
  margin: 20px 0;
}
#customers-grid .customers-item{
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  padding: 10px;
}
.customers-border{
  width: 100%;
  height: 100%;
  border: 1px solid #eaeceb;
  position: relative;
}
#customers-grid .customer-logo-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  top:0px;
  left: 0px;
  z-index: 10;
}
#customers-grid .customer-logo-baseline{
  display: table-cell;
  vertical-align: middle;
}
#customers-grid .customer-city{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  left: 0;
  z-index: 10;
  font-size: 14px;
  line-height: 14px;
  color: #444;
}
#customers-grid .customers_hover_box{
  opacity: 0;
  position: absolute;
  width: 0px;
  height: 100%;
  top:0;
  left: 50%;
  background: #4c5a75;
  color: #fff;
  padding:20px;
  text-align: left;
  box-sizing: border-box;
  z-index: 500;
}
#customers-grid .customers_title{
  display: inline-block;
  width: 100%;
  font: 20px/24px HelveticaNeueCyr Light;
  padding-bottom: 10px;
  border-bottom: 1px solid #758092;
  margin-bottom: 10px;
  margin-top: 0px;
}
#customers-grid .customers_title a{
  color: #fff;
}
#customers-grid .customers_title a:hover{
  text-decoration: none;
}
#customers-grid .customers-text-logo{
  font: 24px/34px HelveticaNeueCyr Thin;
  color: #4c5770;
}
#customers-grid .customers-text-logo a:hover{
  text-decoration: none;
  color: #64b8df;
}
#customers-grid .customers_terms{
  margin-bottom: 10px;
  font: 14px/17px HelveticaNeueCyr Light;
  color: #fff;
}
#customers-grid .customers_terms ul{
  list-style: disc;
  margin: 0;
  padding-left: 15px;
}
#customers-grid .customers_terms ul li{
  list-style-position: outside;
  margin-bottom: 3px;
}
#customers-grid .customers_terms span{
  display: inline-block;
  margin-bottom: 5px;
   font: 15px/16px HelveticaNeueCyr Light;
}
#customers-grid .customers_descr{
  color: #fff;
  font: 14px/16px HelveticaNeueCyr Light;
}
#customers-grid .customers_links{
  color: #70d1fb;
  font: 16px/16px HelveticaNeueCyr Light;
  font-weight: 500;
  margin: 0;
}
#customers-grid .customers_links div {
  margin-bottom: 5px;
  min-height: 18px;
  padding-left: 25px;
}
#customers-grid .customers_links div a{
  color: #fff;
}
#customers-grid .customers_links .recomendation,#customers-grid .customers_links .project{
  background: url("../img/project.png") no-repeat scroll 0 -18px transparent; 
}
#customers-grid .customers_links .recomendation:hover,#customers-grid .customers_links .project:hover{
  -webkit-transition: all 0.2s; /* Safari 3.1 to 6.0 */
  transition:  all 0.2s;
  background-position: 0 0;
}
#customers-grid .customers_links .to_news{
  background: url("../img/news.png") no-repeat scroll 0 -17px transparent; 
}
#customers-grid .customers_links .to_news:hover{
  -webkit-transition: all 0.2s; /* Safari 3.1 to 6.0 */
  transition:  all 0.2s;
  background-position: 0 1px;
}
#customers-grid .customers_links .video{
   background: url("../img/video.png") no-repeat scroll 0 -17px transparent; 
}
#customers-grid .customers_links .video:hover{
  -webkit-transition: all 0.2s; /* Safari 3.1 to 6.0 */
  transition:  all 0.2s;
  background-position: 0 1px;
}

/* Footer */

.customers_botom_cta {
  font: 24px/24px HelveticaNeueCyr Thin;
  text-align: center;
  color: #444444;
  margin-top: 45px;
  margin-bottom: 45px;
}
.customers_botom_cta h2 {
  font: 24px/24px HelveticaNeueCyr Thin;
  text-align: center;
  color: #444444;
  margin: 0;
  margin-bottom: 40px;
}
.customers_botom_cta a {
  display: inline-block;
  background: #8ecc61;
  color: #fff;
  font: 16px/45px HelveticaNeueCyr Thin;
  height: 45px;
  text-align: center;
  text-decoration: none;
  height: 45px;
  width: 220px;
}
.customers_botom_cta a:hover{
  text-decoration: none;
  color: #fff;
}